<div class="left-nav">
    <div class="recommend">
        <div class="">
            <span>
                <img >
            </span>
            <span class="name"></span>
            <span class="status"></span>
        </div>
    </div>
    <div class="followed">
        <div class="">
            <span>
                <img src="">
            </span>
            <span class="name"></span>
            <span class="status"></span>
        </div>
    </div>
    <div class="subcribed">
        <div class="">
            <span>
                <img >
            </span>
            <span class="name"></span>
            <span class="status"></span>
        </div>
    </div>
</div>
